body{
	background: #ededed;
	margin: 0;
}

h1{
	font-family: 'RobotoThin';
	font-weight: normal;
	text-align: center;
	font-size: 3em;
	color: #919191;
	width: 600px;
	margin: 10px auto;
	text-shadow: 1px 1px 0 #00bdf4;
}

section.content{
	width: 900px;
	margin: 0 auto;
}

section.content p{
	font-family: 'RobotoLight';
	font-weight: normal;
	color: #a2a2a2;
	font-size: 0.9em;
	margin: 10px 0;
	line-height: 1.25em;
}

section.banner{
	width: 100%;
	height: 800px;
	overflow: hidden;
	background-repeat: none;
	background-position: 50% 0;
	margin: 20px 0;
	position: relative;
}

section.banner img{
	position: absolute;
}